{% extends 'store/main.html' %}
{% block content %}
    <h1>Cart</h1>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Book name</th>
            <th scope="col">Book type</th>
            <th scope="col">Quantity</th>
            <th scope="col">Cost(Per Book)</th>
            <th scope="col">Cost</th>
        </tr>
        </thead>
        <tbody>
        {% for book in cart %}
            <tr>
                <td>{{book.book_name}}</td>
                <td>{{book.book_type}}</td>
                <td>{{book.quantity}}</td>
                <td>{{book.cost}}</td>
                <td>{{book.total_cost}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{total_cost}}
    <style>
        #total{
            font-size: 30px;
        }
    </style>
{% endblock %}