{% extends 'store/main.html' %}
{% block content %}
    <h1>Cart</h1>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Book name</th>
            <th scope="col">Book type</th>
            <th scope="col">Quantity</th>
            <th scope="col">Cost</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            <tr>
                <td>{{item.book_name}}</td>
                <td>{{item.book_type}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.cost}}</td>
            </tr>
        {% endfor %}
        <td></td>
        <td></td>
        <td></td>
        <td id='total'>{{total_cost}}</td>
        </tbody>
    </table>
    <style>
        #total{
            font-size: 30px;
        }
    </style>
{% endblock %}