<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'store' %}">Bookstore</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="{% url 'store' %}">BookStore</a>
        <a class="nav-item nav-link" href="{% url 'home' %}">Inventory</a>
        <a class="nav-item nav-link" href="{% url 'cart' %}">Cart</a>
      </div>
    </div>
    <div>
      <span id="username">Hello, {{request.user}}</span>
      <span><a href="{% url 'logout' %}" id="logout">Logout</a></span>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<style>
  #logout{
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
  }
  #username{
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }
</style>