<!DOCTYPE html>
<html>
<head>
    <title>Receipt</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class='content'>
        <div class="row">
            <table class="table table-striped col-9">
                <thead>
                    <tr>
                        <th scope="col">Book name</th>
                        <th scope="col">Book type</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Cost(Per Book)</th>
                        <th scope="col">Cost</th>
                    </tr>
                </thead>
                <tbody>
                {% for book in cart %}
                    <tr>
                        <td>{{book.book_name}}</td>
                        <td>{{book.book_type}}</td>
                        <td>{{book.quantity}}</td>
                        <td>{{book.cost}}</td>
                        <td>{{book.total_cost}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="col-3">
                <h3>Check Out</h3>
                <hr>
                <ul class="alert alert-success" role="alert">
                    <li>As to save paper, quantity is set to 1</li>
                    <li>Please buy book when requird</li>
                </ul>
                <div id="total">
                    <b>Total:</b> {{sub_total}}
                </div>
            </div>
        </div>
        <div class="alert alert-warning">
            <h3>This is your receipt, print this page</h3>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>

<style>
    .content{
        margin: auto;
        margin-top: 50px;
        width: 80%;
        margin-bottom: 50px;
    }
    #total{
        font-size: 25px;
        text-align: left;
    }
    .table{
        float: left;
    }
    .btn{
        width: 100%;
    }
</style>